
.successMessageContainer {
    margin-top: 16px;
  }

.featsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 16px;
  div {
    max-width: 100%;
  }
}

.callToActionContainer {
  margin-top: 16px;
}

.navIconContainer {
  display: inline;
  margin-right: 6px;
  margin-bottom: 3px;
}
