
.successMessageContainer {
    margin-top: 16px;
  }

.callToActionContainer {
  margin-top: 16px;
}

.navButtonContainer {
  display: flex;
  align-content: center;
  align-items: center;
}

.navIconContainer {
  display: inline;
  margin-right: 6px;
  margin-bottom: 3px;
}
