.customAccordionTransition {
  opacity: 0;
  animation: increaseOpacity 2s ease 1 forwards;
}

@keyframes increaseOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.customAccordion {
  width: 100%;
}
