
.progressBar {
  margin-bottom: 16px;
  .progress{
    position: relative;
    padding-bottom: 10px;
    height: 10px;
    width: 80%;
    min-width: 300px;
    border: 4px solid rgba(0, 0, 0, 0.7);
    border-radius: 15px;

    .colorjs{
      position: absolute;
      background-color: #f7e018;
      width: 0px;
      height: 10px;
      border-radius: 15px;
      animation: progres75 4s ease 0.5s 1 forwards;
    }
  }



  .progress .colorts{
    position: absolute;
    background-color: #3178c6;
    width: 0px;
    height: 10px;
    border-radius: 15px;
    animation: progres85 4s ease 0.5s 1 forwards;
  }

  .progress .colorreact{
    position: absolute;
    background-color: #61dafb;
    width: 0px;
    height: 10px;
    border-radius: 15px;
    animation: progres85 4s ease 0.5s 1 forwards;
  }

  .progress .colorjava{
    position: absolute;
    background-color: #e62a2e;
    width: 0px;
    height: 10px;
    border-radius: 15px;
    animation: progres75 4s ease 0.5s 1 forwards;
  }

  .progress .colorsb{
    position: absolute;
    background-color: #77c037;
    width: 0px;
    height: 10px;
    border-radius: 15px;
    animation: progres60 4s ease 0.5s 1 forwards;
  }

  @keyframes progres85{
    0%{
      width: 0%;
    }
    100%{
      width: 85%;
    }
  };

  @keyframes progres80{
    0%{
      width: 0%;
    }
    100%{
      width: 80%;
    }
  };

  @keyframes progres75{
    0%{
      width: 0%;
    }
    100%{
      width: 75%;
    }
  };

  @keyframes progres60{
    0%{
      width: 0%;
    }
    100%{
      width: 60%;
    }
  };

  .title {
    margin-left: 8px;
  }

}
