.progressBar {
  margin-bottom: 16px;

  .progress {
    position: relative;
    padding-bottom: 10px;
    height: 10px;
    min-width: 1000px;

    @media only screen and (max-width: 1060px) {
      min-width: 800px;
    }

    @media only screen and (max-width: 840px) {
      min-width: 600px;
    }

    @media only screen and (max-width: 640px) {
      min-width: 460px;
    }

    @media only screen and (max-width: 500px) {
      min-width: 300px;
    }

    border: 4px solid #000000b2;
    border-radius: 15px;

    .filling {
      position: absolute;
      width: 0;
      height: 10px;
      border-radius: 15px;
    }
  }

  .colorjs {
    background-color: #f7e018;
  }

  .colorts {
    background-color: #3178c6;
  }

  .colorreact {
    background-color: #61dafb;
  }

  .colorjava {
    background-color: #e62a2e;
  }

  .colorsb {
    background-color: #77c037;
  }

  .filling60 {
    animation: progres60 4s ease 0.5s 1 forwards;
  }

  .filling75 {
    animation: progres75 4s ease 0.5s 1 forwards;
  }

  .filling85 {
    animation: progres85 4s ease 0.5s 1 forwards;
  }

  @keyframes progres85 {
    0% {
      width: 0%;
    }

    100% {
      width: 85%;
    }
  }

  @keyframes progres75 {
    0% {
      width: 0%;
    }

    100% {
      width: 75%;
    }
  }

  @keyframes progres60 {
    0% {
      width: 0%;
    }

    100% {
      width: 60%;
    }
  }

  .title {
    margin-left: 8px;
  }
}
